{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?mac computer laptop" class="d-block w-100" alt="Contact">
      </div>
    </div>
  </div>
<div class="container my-3">
    <div class="blog-post">
        <h2 class="blog-post-title">About us</h2>

        <p>This is website is based on knowledgeable programming and technology related content and articles. You can Also give your own suggestions and feedback for articles and improvement of website </p> <br>  <div style="font-family: 'Oswald', sans-serif; font-size: 25px; margin-bottom: -20px;">About website owner -</div> <div style="float: right;"> <img src="/static/home/img/LogoMakr-63Uoxt.png" alt="knowledgeforyou"></div> <br> This website is made by a 13 year old boy named Abhinav for the purpose to guide and write informative articles <br> <div style="font-family: 'Oswald', sans-serif; font-size: 25px; margin-top: 20px;">Contact -</div> <br>  
            <ul style="margin: -20px;">
                <a href="mailto:knowledgeforyoumail@gmail.com" style="text-decoration: none; color: black;"><li style="list-style: none; font-family: 'Pathway Gothic One', sans-serif; font-size: 20px;"> <i class="far fa-envelope"></i> Mail</li></a>
                <a href="https://www.instagram.com/knowledgeableforyou/" target="_blank" style="text-decoration: none; color: black;"><li style="list-style: none; font-family: 'Pathway Gothic One', sans-serif; font-size: 20px;"> <i class="fab fa-instagram"></i></i> Instagram</li></a>
            </ul> 
        <hr>
    </div>
</div>
{% endblock body %}